body {
	background: #dfc9a5;
}

.wrapper {
	width: 400px;
	position: absolute;
    border-radius: 8px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #262626;
	padding: 50px;
	color: #fff;
	text-align: center;
    font-weight: bolder;
}

.wrapper h2 {
	text-transform: uppercase;
	font-family: 'Courier New', Courier;
	margin-bottom: 10%;
}

input[type="text"] {
	height: 40px;
    border-radius: 8px;
}

input[type="text"] {
	font-size: 24px;
    border-radius: 8px;
}

button {
	background: #ff8800;
    border-radius: 5px;
	border: none;
	color: #fff;
	display: inline-block;
	padding: 10px 25px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Courier New', Courier;
	letter-spacing: 2px;
	font-weight: bold;
}

input[type="radio"] {
	width: 20px;
	height: 20px;
}

b {
	font-size: 30px;
}
